<div style="direction: rtl">
    <p>
        @Model.Name عزیز،
    </p>
    <p>
        برای حساب کاربری شما در مداد جنگی درخواست بازیابی گذروژه ثبت شده است. در صورتی که شما این درخواست را ثبت کرده‌اید، برای بازیابی گذرواژه خود
        <a href="@Model.RecoveryUrl">اینجا</a>
        را کلیک کنید یا در صورتی که لینک فعال نیست، آدرس زیر را به نوار آدرس مرورگر خود کپی کنید:
        <br />
        @Model.RecoveryUrl
    </p>
    <p>
        در صورتی که شما این درخواست را ثبت نکرده‌اید، این نامه را نادیده بگیرید.
    </p>
</div>
