[Unit]
Description=FL Password Recovery Website

[Service]
ExecStart=/app/flpasswordrecovery/Server/Server
WorkingDirectory=/app/flpasswordrecovery/Server
User=flserver
Group=flserver
Restart=always
SyslogIdentifier=flhost-password-recovery
PrivateTemp=true
TimeoutSec=300
After=flserver.service

[Install]
WantedBy=multi-user.target

