[Unit]
Description=FL Server

[Service]
ExecStart=/app/flserver/FLHost
WorkingDirectory=/app/flserver/
User=flserver
Group=flserver
Restart=always
SyslogIdentifier=flhost-service
PrivateTemp=true
TimeoutSec=300
After=cassandra.service
# Environment=FLSERVER_DETAILED_MATCHMAKING_LOG=yes

[Install]
WantedBy=multi-user.target

